.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Custom ###
/src/main/java/com/westums/controllers/Controller.java
/src/main/java/com/westums/views/designs/
/src/main/resources/META-INF/*

### Unimplemented & Others ##
/src/main/java/com/westums/controllers/admindashboard/ViewStudentsDialogController.java
src/main/java/com/westums/views/admindashboard/ViewStudentsDialog.java
src/main/java/com/westums/models/StudentsTableModel.java
src/main/java/com/westums/models/CustomTableCellRenderer.java
/src/main/resources/unified.jsonc
